<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">My Products!</h1>
                    <form style="color: black" th:action="'/categories/'+${category.id}+'/products/filter'" method="get" modelAttribute="filter">
                        <input name="name" type="text" path="name">
                        <input type="submit" value="Serach">
                    </form>
                    <div>
                        <!--/*@thymesVar id="category" type="com.attractor.shop.entities.Category"*/-->
                        <a class="btn btn-default" href="#"
                           th:href="@{'/categories/' + ${category.id} + '/products/new'}" role="button">New product</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login" class="btn-primary">Login</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a href="/profile" class="btn-primary" th:text="${#authentication.getName()}"></a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input  type="submit" value="Logout"></input>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(products)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>View</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Tasty Goodnees 2</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <!--/*@thymesVar id="products" type="com.attractor.shop.entities.Product"*/-->
                            <tr th:each="product : ${products}">
                                <td th:text="${product.id}">334</td>
                                <td th:text="${product.name}">Tasty Goodnees 3</td>
                                <td><a href="#" th:href="@{'/categories/' + ${product.category.id} + '/products/'+${product.id}+'/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/categories/' + ${product.category.id} + '/products/'+${product.id}+'/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                    <a href="#"  th:href="'/categories/'+${category.id}+'/products?page='+${pages.getPageNumber()-1}+'&size=5'"> <==</a>
                    <a href="#" th:if="${pages.getPageNumber()<products.size()/5+1}" th:href="${pages.getPageNumber()<products.size()/5+1}?'/categories/'+${category.id}+'/products?page='+${pages.getPageNumber()+1}+'&size=5'">==> </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>